.a1{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.a2{
    height: 35px;
    width: 35px;
    background-color: aqua;
    border: 3px solid burlywood;
}
.a{
    height: 100px;
    width: 100px;
    background-color: rgb(15, 6, 23);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.b1{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.b2{
    height: 35px;
    width: 35px;
    background-color: rgb(196, 25, 25);
    border: 3px solid burlywoo35
}
.b{
    height: 100px;
    width: 130px;
    background-color: rgb(24, 215, 10);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.c1{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.c2{
    height: 35px;
    width: 35px;
    background-color: aquamarine;
    border: 3px solid burlywood;
}
.c{
    height: 100px;
    width: 130px;
    background-color: rgb(25, 46, 60);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.d1{
    height: 50px;
    width: 50px;
    background-color: rgb(53, 90, 238);
    border: 3px solid burlywood;
}
.d{
    height: 100px;
    width: 100px;
    background-color: rgb(218, 119, 27);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.e1{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.e{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.f1{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.f2{
    height: 35px;
    width: 35px;
    background-color: rgb(0, 0, 0);
    border: 3px solid burlywood;
}
.f3{
    height: 35px;
    width: 35px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.f4{
    height: 35px;
    width: 35px;
    background-color: rgb(0, 0, 0);
    border: 3px solid burlywood;
}
.f{
    height: 100px;
    width: 300px;
    background-color: cadetblue;
    border: 3px solid burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}
.row3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}

.g1{
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.g2{
    height: 30px;
    width: 30px;
    background-color: rgb(128, 228, 70);
    border: 3px solid burlywood;
}
.g{
    height: 100px;
    width: 100px;
    background-color: rgb(16, 203, 249);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: ROW;
    align-items: center;
    justify-content: space-around;
}

.h1{
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.h2{
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    border: 3px solid burlywood;
}
.h{
    height: 100px;
    width: 100px;
    background-color: rgb(12, 189, 141);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.i1{
    height: 50px;
    width: 50px;
    background-color: rgb(215, 22, 35);
    border: 3px  burlywood;
}
.i{
    height: 100px;
    width: 100px;
    background-color: rgb(25, 205, 106);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}
.J1{
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border: 3px solid burlywood;
}
.J2{
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    border: 3px solid burlywood;
}
.J{
    height: 100px;
    width: 100px;
    background-color: rgb(224, 219, 228);
    border: 3px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.row4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

